@use '@angular/material' as mat;

.container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}


mat-sidenav-container {
	height: calc(100vh - 64px); // Subtract toolbar height
}

mat-sidenav {
	width: 250px;
}
