<button mat-icon-button class="theme-button" [matMenuTriggerFor]="menu" matTooltip="Select theme colors">
	<mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #menu="matMenu" class="theme-menu">
	<div class="theme-menu__panel" (click)="$event.stopPropagation()">
		<mat-form-field>
			<mat-label>Primary Color</mat-label>
			<mat-select [(ngModel)]="selectedPrimaryColor" (selectionChange)="onPrimaryColorChange()">
				@for (color of availableColors; track color) {
				<mat-option [value]="color">
					<div class="theme-menu__color-item">
						<svg class="theme-menu__color-swatch" width="24" height="24" viewBox="0 0 80 80">
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].backgroundDark : colorCombinations[color].background"
								d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z" />
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].colorDark : colorCombinations[color].color"
								d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z" />
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].colorDark : colorCombinations[color].color"
								d="M0 0h80v17.24H0V0z" />
						</svg>
						<span class="theme-menu__color-name">{{capitalizeFirstLetter(color)}}</span>
					</div>
				</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Tertiary Color</mat-label>
			<mat-select [(ngModel)]="selectedTertiaryColor" (selectionChange)="onTertiaryColorChange()">
				@for (color of availableColors; track color) {
				<mat-option [value]="color">
					<div class="theme-menu__color-item">
						<svg class="theme-menu__color-swatch" width="24" height="24" viewBox="0 0 80 80">
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].backgroundDark : colorCombinations[color].background"
								d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z" />
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].colorDark : colorCombinations[color].color"
								d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z" />
							<path
								[attr.fill]="isDarkMode ? colorCombinations[color].colorDark : colorCombinations[color].color"
								d="M0 0h80v17.24H0V0z" />
						</svg>
						<span class="theme-menu__color-name">{{capitalizeFirstLetter(color)}}</span>
					</div>
				</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<div class="theme-menu__dark-mode">
			<mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleDarkMode()" matTooltip="Toggle dark mode">
				Dark mode
			</mat-slide-toggle>
		</div>
	</div>
</mat-menu>
