@use '@angular/material' as mat;

html {
	@include mat.theme((color: (theme-type: dark,
				primary: mat.$green-palette,
				tertiary: mat.$yellow-palette,
			),
			typography: Roboto,
			density: 0,
		));
}
